<project xmlns="http://maven.apache.org/POM/4.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/POM/4.0.0
  http://maven.apache.org/maven-v4_0_0.xsd">
  <modelVersion>4.0.0</modelVersion>
  <groupId>soabook</groupId>
  <artifactId>soabook</artifactId>
  <packaging>pom</packaging>
  <version>1.0</version>
  <name>SOABOOK</name>
  <profiles>
    <profile>
      <id>mark.hansen.desktop</id>
      <activation>
        <file>
          <exists>c:/mark.homepc</exists>
        </file>
      </activation>
      <properties>
        <glassfish.home>c:/bin/glassfish-v2-b28</glassfish.home>
        <glassfish.host>localhost</glassfish.host>
        <glassfish.domain>domain1</glassfish.domain>
        <glassfish.admin.port>4848</glassfish.admin.port>
        <glassfish.deploy.port>8080</glassfish.deploy.port>
        <glassfish.admin.user>admin</glassfish.admin.user>
        <glassfish.admin.password.file>c:/soabook/code/book-code/glassfish.password</glassfish.admin.password.file>
      </properties>
    </profile>
  </profiles>
  <repositories>
    <repository>
      <id>ibiblio</id>
      <url>http://www.ibiblio.org/maven2</url>
    </repository>
    <repository>
      <id>soaj</id>
      <url>http://soaj.javector.com/maven-repo</url>
    </repository>
  </repositories>
  <distributionManagement>
    <repository>
      <id>soaj</id>
      <url>ftp://soaj.javector.com</url>
    </repository>
  </distributionManagement>
</project>
