<settings>
  <servers>
    <!--
    <server>
      <id>soabook</id>
      <username>maven</username>
      <password>admin@javector.com</password>
    </server>
    -->
    <server>
      <id>soaj</id>
      <username>maven@javector.com</username>
      <password>djs84tqp</password>
    </server>
  </servers>
  <pluginGroups>
    <pluginGroup>soaj</pluginGroup>
  </pluginGroups>
</settings>
