<?xml version="1.0" encoding="UTF-8"?>
<!--! <example xn="web_xml"> -->
<!--! <c>chap09</c><s>rest</s> -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:j2ee="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>soashopper-rest-endpoint</display-name>
  <servlet>
    <servlet-name>com.javector.soashopper.endpoint.rest.ShopperServiceRESTImp</servlet-name>
    <servlet-class>com.javector.soashopper.endpoint.rest.ShopperServiceRESTImp</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.javector.soashopper.endpoint.rest.ShopperServiceRESTImp</servlet-name>
    <url-pattern>/shopper</url-pattern>
  </servlet-mapping>
</web-app>
<!--! </example> -->
