<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">
    
    <!--! <example xn="Deploying_GetNewOrdersServlet_web_xml"> -->
    <!--! <c>chap03</c><s>rest-get</s> -->
<web-app>
  <servlet>
    <servlet-name>GetNewOrdersServlet</servlet-name>
    <servlet-class> samples.GetNewOrdersServlet </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNewOrdersServlet</servlet-name>
    <url-pattern>/NewOrders</url-pattern>
  </servlet-mapping>
</web-app>
<!--! </example> -->
