<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
  http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <servlet>
        <display-name>InvocationTest</display-name>
        <servlet-name>InvocationTest</servlet-name>
        <servlet-class>test.ProviderTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InvocationTest</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>InvocationTest_EJB21</display-name>
        <servlet-name>InvocationTest_EJB21</servlet-name>
        <servlet-class>test.ProviderTestServlet_EJB21</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InvocationTest_EJB21</servlet-name>
        <url-pattern>/test/ejb21</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>

</web-app>

